*{
	font-family:'Open Sans',sans-serif;
}

.breadcrumbs{
	text-align:center;
	padding-top:30px;
}
.breadcrumbs>a{
	text-decoration: none;
	font-size: 0.7em;
	color:#757575;
}
.phase{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:30px;
	background-color:#FFFFFF;
	overflow:hidden;
	border-radius:7px;
	padding-top:30px;
	padding-bottom:30px;
}
.phase.side-by-side-img-holder{
	margin-left:2%;
	margin-right:2%;
	padding:0;
}

.individual-project-title{
	font-family:'Arvo',serif !important; 
	font-size:2.2em;
	text-align: center;
}

/*PHASE TITLE POSITIONING*/
.phase-title-center{
	font-weight:700;
	font-size:1.8em;
	text-align:center;
	margin-top:30px;
}
.phase-title-left-align{
	font-weight:700;
	font-size:1.8em;
	text-align:left;
	margin-top:0px;
}
.phase-title-right-align{
	font-weight:700;
	font-size:1.8em;
	text-align:right;
	margin-top:0px;
}
/*USE THIS CLASS W/ PHASE DIV TO GET SIDE-BY-SIDE DISPLAY*/
.side-by-side{
	display:flex;
	align-items:center;
}
/*.phase img{
	display:block;
	margin:auto;
}*/

/*CENTERED TEXT*/
.wide-text-div{
	width:75%;
	margin:0 auto;
}
.wide-text{
	font-size:1.1em;
	text-align: center;
	margin-top:35px;
	margin-bottom:50px;
	line-height:1.6em;
}

.centered-img{
	/*IN CASE YOU EVER WANT TO USE 1IMG, CENTERED, INSTEAD OF CAROUSEL*/
}

/*2-COLUMN TEXT*/
.col1-div{
	margin-left:7%;
	margin-right:2%;
	width:40%;
	float:left;
}
.col1,.col2{
	margin-top:25px;
	margin-bottom:25px;
	font-size:0.9em;
	line-height:1.6em;
	text-align:left;
}
.col2-div{
	margin-right:7%;
	margin-left:2%;
	width:40%;
	float:right;
}
.col1>ol>li{
	font-size:0.9em;
	line-height:1.6em;
}

/*SIDE BY SIDE*/
.side-by-side-img-holder{
	width:50%;
	margin-left:4%;
	margin-right:4%;
	padding:0;
}
.right-side-text-div, .left-side-text-div{
	font-size:1em;
    font-weight:400;
    width:39%;
    display:inline-block;
}
.right-side-text-div{
	margin-right:4%;
	margin-left:0;
}
.left-side-text-div{
    text-align:right;
    margin-left:4%;
    margin-right:0;
}
.left-side-img, .right-side-img{
	max-width:100%;
    max-height:100%;
}

#user-interviews-after-ol{
	margin-top:10px;
	margin-bottom:15px;
}
.emphasis-box{
	background-color:#F7F7F7;
	width:90%;
	overflow:hidden;
	padding:25px;
	border-style:dotted;
	border-color:#FAB073;
	border-width: 2px;
}
.emphasis-box-text{
	font-size:0.8em;
	line-height:1.5em;
	text-align:left;
	margin:0;
}
.carousel{
	width:90.25%;
	margin:0 auto;
	overflow:hidden;
	max-height:498px;
	border-style:solid;
	border-width:1px;
	border-color:#DBDBDB;
}
.carousel.side-by-side-img-holder{
	width:50%;
	max-height:354px;
	margin-right: 4%;
    margin-left: 4%;
}
.carousel div{
	width:100%;
	margin:0 auto;
	overflow:hidden;
}
.carousel div img{
	max-width:100%;
}
.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-prev:after { 
    color:red !important;
    content:"click";
}
/*
.slick-prev:after { 
	font-family: FontAwesome;
	content: "\f060" !important;
	left: 15px !important;
}
.slick-next:before {
	font-family: FontAwesome;
	content: "\f061" !important;
	right: 15px !important; 
}*/
#startx-phase3-ol {
	text-align: center;
	list-style-position: inside;
	margin-bottom:50px;
}
#startx-languages-used{
	width:40%;
	margin:0 auto;
}
#startx-languages-used>p{
	font-size:1em;
	text-align:center;
}
#startx-reflection #wide-text-div li{
	font-size:1.2em;
    margin: 0 0 5px 0;
}
.side-by-side ol{
	text-align:left;
}
#genie-intro .col1-text{
    font-size:1.1em;
}
#genie-intro .big-clicky{
    display:block;
    text-align:center;
    color:white !important;
    margin:0 auto;
    }
@media screen and (min-width:734px){
    /*#genie-intro .big-clicky{display:none;}*/
    #genie-intro iframe{margin:0 auto;display:block;}
}
@media screen and (max-width: 734px), @media screen and (max-device-width:320px){
    #invision{display:none;}
    /*#genie-intro .big-clicky{
        display:block;
        text-align:center;
        color:white !important;
        margin:0 auto;
    }*/
    .phase{width:100%;}
    .spacer{display:none;}
    .col1-div,.col2-div{display:block;width:100%;}
    .col1,.col2{float:none;text-align:center;margin:0 auto;}
    .side-by-side-img-holder{
	width:50%;
	margin-left:4%;
	margin-right:4%;
	padding:0;
    }
    .right-side-text-div, .left-side-text-div{
        font-size:1em;
        font-weight:400;
        width:100%;
        display:block;
        margin:0 auto;
        text-align:center;
    }
    .phase-title-right-align,.phase-title-left-align{text-align:center;}
    .side-by-side{display:block;}
    .slider.carousel.side-by-side-img-holder{width:100%;}
    
}
