body {
	margin:0 auto;
    display:block;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    background-color: #F8F8F8;
}
html{overflow-y: scroll;}
.spacer{
    height:2.5em;
    width:100%;
    display:block;
}
/*NAVBAR2 STUFF*/
.navbar2{
    background-color:#000000;
    width:100%;
    height:70px;
    text-align:center;
}
.navbar2 img{
    width:30%;
}
.navbar2 ul{
    margin:0;
    padding:20px;
}
.navbar2 li{
    list-style: none;
    font-weight:500;
    display:inline;
    padding-left:2vw;
    padding-right:2vw;
}
.navbar2 a:link,.navbar2 a:visited{ 
	color:#FFF;
    text-decoration:none;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s; 
    
}
.navbar2 a:hover, navbar2 a:active{
    color:#b6d9e2;
}
/*ABOUT ME INFO CARD FORMATTING*/
.row {
    width:100%;
    display: block;  
}
#wip-div{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    background:repeating-linear-gradient(
  45deg,
  firebrick,
  orangered 2px,
  firebrick 3px,
  orangered 2px
);
}
#wip-div p{
    font-family:'Avenir',sans-serif;
    color:white;
    font-weight:500;
    font-size:0.9em;
    text-align: center;
    padding:5px;
    margin:0;
}
#about-me-div{
    height:inherit;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:3%;
    background-color:#FFFFFF;
    border-radius:10px;
    padding-top:3%;
    padding-right:5%;
    padding-left:5%;
    padding-bottom:5%;
    overflow:hidden;
    border-color:#D9DCDF;
    border-width: 2px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#img-wrap{
    width:33%;
    /*height:300px;*/
    margin-right:3%;
}

#img-wrap img{
    border:solid 1px #D9D9D9;
    max-width:100%;
    max-height:100%;
    overflow:hidden;
}
#text-wrap{
    width:53%;
    position:relative;
    margin-left:5%;
}
#i-am-div{
    width:100%;
    overflow:hidden;
}
#i-am-text{
    font-family:'Arvo',serif;
    font-weight:400;
    font-size:2.2em;
    text-align:left;
    margin:0;
    line-height:1.1em;
    color:#444;
    padding-top:10px;
    width:100%;
}
#i-am-text-sub{
    padding:none;
    margin:none;
    font-family:'Open Sans',sans-serif;
    font-style:normal;
    font-weight:300;
    font-size:0.8em;
    line-height:0.8em;
}
#elab-text,#seeking{
    font-size:0.9em;
    line-height:1.4em;
    text-align:left;
    padding-left:1em;
    padding-right:1em;
    padding:0;
    color:#444;
    width:100%;
    font-weight:300;
}

#about-me-div hr{
    border-color:#999;
    border-width:1px;
    color:#999;
    background-color:#999;
}
#seeking h2{
    font-family:'Arvo',serif;
    font-weight:400;
    color:#777;
    margin:2%;
    margin-left:0;
    margin-top: 10px;
    margin-bottom:10px;
}
.tag{
    border-radius:5px;
    margin:3px;
    padding:5px;
    display:inline-block;
    background-color:darkgrey;
    color:white;
    font-size:0.9em;
}
/*universal link styling*/
.project .elab-text a:link, .project .elab-text a:visited, .phase a:link, .phase a:visited, #div-404 a:link, #div-404 a:visited{
    text-decoration: none;
    color:#5aa9bf;
}
.project .elab-text a:hover, .phase a:hover{
    color:#b6d9e2;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s; 
    
}
.pink-text{
    color:#cc0066;
}

#div-404{
    width:50%;
    margin:0 auto;
}
#div-404 h1{font-family:"Arvo",serif; font-size:4.7em;text-align:center;color:#b6d9e2;}
#div-404 p{font-size:1.2em;text-align:center;}

.bottom-text{
    font-size:0.6em;
    text-align:center;
    color:darkgrey;
}
.bottom-div{
    text-align:center;
    width:100%;
    margin:0 auto;
    bottom: 0;
}
.big-clicky{
    background:    #b0dde8;
background:    -webkit-linear-gradient(#b0dde8, #6bb4c7);
background:    linear-gradient(#b0dde8, #6bb4c7);
border-radius: 5px;
box-shadow:    0 1px 0 0 #ccc;
color:         #fff;
display:       inline-block !important;
padding:       16px 50px;
font:          normal 700 16px/1 "Open Sans", sans-serif;
text-align:    center;
text-shadow:   none;
    margin: 10px !important;
    width: 25%;
}

.thinkpiece-centering-div{
    margin:0 auto;
    width:70%;
    text-align: center;
    padding:60px;
}
.thinkpiece-link {
    font-size:36px;
    color:#FC9284;
    font-family:"Arvo",serif;
}

.thinkpiece-text {
    text-align: left;
    font-size:1.3em;
	margin-top:35px;
	margin-bottom:50px;
	line-height:1.7em;
}

.thinkpiece-text-div{
	width:65%;
	margin:0 auto;
}

/* narrow desktop */
@media screen and (max-width: 900px) {
    .wip-div {
        width: 50vw;
    }
    #about-me-div{
        display:block;
    }
    #img-wrap {
        width:100%;
        /*height:300px;*/
        display:block;
        margin-right:3%;
        margin:0 auto;
        margin-bottom:40px;
    }
    #img-wrap img {
        border:solid 1px #D9D9D9;
        max-width:70%;
        height:auto;
        overflow:hidden;
        display:block;
        margin:0 auto;
    }
    #text-wrap{
        width:90%;
        display:block;
        margin:0 auto;
    }
    #i-am-text{
        font-size:2.4em;
        text-align:center;
        margin:0;
        line-height:1em;
        color:#777;
        padding-top:10px;
    }
}

/* mobile */
@media screen and (max-width : 740px), @media screen and (max-device-width:320px) {
    #wip-div {display:none;}
    #about-me-div{width:100%;padding-bottom:80px;}
}